*{
    margin: 0;
    padding: 0;
    color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
#primera-parte{
    padding-top: 57px;
    font-size: 16px;
    position: relative;
    padding-bottom: 147px;
}
#primera-parte img{
    padding-left: 40px;
    position: absolute;
    top: 43px;
    height: 38px;
}
#nav{
    position: absolute;
    right: 20px;
    top: 57px;
}
#nav ul{
    list-style: none;
}
#nav ul li{
    float: left;
    padding-left: 41px;
}
#nav a{
    text-decoration: none;
}
#nav a:hover{
    padding: 10px 17px;
    background-color: #643a79;
}
#header{
    background-color: #87509c;
}
#header-title{
    text-align: center;
    padding-bottom: 174px;
}
#header-title h2{
    font-size: 42.16px;
    padding-bottom: 88px;
}
#button {
    font-size: 18px;
    text-decoration: none;
    padding: 30px 81px 30px 81px;
    background-color:#eb7d4b;
}
#cuerpo{
    background-color: #17c2a4;
    text-align: center;
    padding-top: 116px;
}
#cuerpo-primera-parte h2{
    font-size: 40px;
    padding-bottom: 46px;
}
#cuerpo-primera-parte p{
    font-size: 18px;
    padding-bottom: 80px;
}
#primera-fila td{
    padding-bottom: 60px;
}
#segunda-fila td{
    font-size: 24px;
    padding-bottom: 30px;
}
#tercera-fila td{
    font-size: 16px;
}
#tercera-fila p{
    margin:0px 25px 0px;
}
td+td{
    padding-left: 15px;
}
table{
    padding-bottom: 132px;
}
#footer{
    background-color: #344b8e;
}
#footer ul li{
    font-size: 24px;
    float: left;
    list-style: none;
    padding: 41px 37px 44px;
}
#footer ul li a{
    text-decoration: none;
}
#footer ul li a:hover{
    color: #30b4e2;
}